<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); </style>

  <!-- Primary Meta Tags -->
  <title>{% block title %}League of Elo{% endblock %}</title>
  <meta name="title" content="League of Elo">
  <meta name="description" content="Compete against other users and our Elo model by making predictions for League of Legends Esports matches!">
  <meta name="theme-color" content="#7D4C96" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://leagueofelo.com/">
  <meta property="og:title" content="League of Elo">
  <meta property="og:description" content="Compete against our Elo model and other users by making predictions for League of Legends Esports matches!">
  <meta property="og:image" content="https://leagueofelo.com{% static 'loe_logo_2.png' %}">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://leagueofelo.com/">
  <meta property="twitter:title" content="League of Elo">
  <meta property="twitter:description" content="Compete against our Elo model and other users by making predictions for League of Legends Esports matches!">
  <meta property="twitter:image" content="https://leagueofelo.com{% static 'loe_logo_2.png' %}">

  <!-- favicons -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'loe.css' %}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1FRBDDY6BC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1FRBDDY6BC');
  </script>

  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">

// Global vars
var selected_regions;
var all_regions = ['NA', 'EU', 'KR', 'CN', 'INT'];

// On load functions //--------------------------------------------------------------
(function(){
  var theme = localStorage.getItem('theme') || 'dark';
  document.documentElement.setAttribute('data-theme', theme);
  if (localStorage.getItem('regions')) {
    selected_regions = new Set(localStorage.getItem('regions').split(','))
  }
  else {
    selected_regions = new Set(all_regions);
  }
  localStorage.setItem('regions', Array.from(selected_regions));
})();

$(document).ready(function() {
  $('.region_filter').each(function() {
    var region = $(this).prop("id").split("_")[0];
    if (selected_regions.has(region)) {
      $(this).addClass("down");
    } else {
      $(this).removeClass("down");
    }
  });
});

// On demand functions //------------------------------------------------------------
function changeTheme() {
  var targetTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? 'light' : 'dark';
  document.documentElement.setAttribute('data-theme', targetTheme);
  localStorage.setItem('theme', targetTheme);
}

function updateMatchTables() {
  $.get('match_table', {
    'dataType': 'html',
    'regions': localStorage.getItem("regions"),
    'upcoming': 1,
  }).done(function (data) {
    $('#upcoming_match_table').html(data);
    mobileTooltipPosition();
    setUnsavedAlert(unsavedMatchesExist());
  }).fail(function (error) {
    console.log(error);
  });

  $.get('match_table', {
    'dataType': 'html',
    'regions': localStorage.getItem("regions"),
  }).done(function (data) {
    $('#recent_match_table').html(data);
    mobileTooltipPosition();
  }).fail(function (error) {
    console.log(error);
  });
}

function mobileTooltipPosition() {
  let mql = window.matchMedia('(max-width: 927px)');
  if (mql.matches) {
    $(".prediction_slider").attr("data-placement", "top");
  }
}

function unsavedMatchesExist() {
  var date_row = $('.table_separator_row:first');
  var match_rows = date_row.nextUntil('.table_separator_row');
  for (var i = match_rows.length - 1; i >= 0; i--) {
    var checkbox = $(match_rows[i]).find('.submit_box');
    if (checkbox.length && !checkbox[0].checked) {
      return true;
    }
  }
  return false;
}

function setUnsavedAlert(enable=true) {
  var dateline = $('.table_separator_row:first > td');
  if (enable) {
    dateline.addClass('unpredicted');
  }
  else {
    dateline.removeClass('unpredicted');
  }
}

function sliderChange(slider) {
  clearTimeout(sliderChange.hide_timeout);
  $(slider).parent().parent().find(".submit_box").prop("indeterminate", true);
  var pred = slider.value;
  var t1 = $(slider).parent().parent().find(".team1").attr("alt");
  var t2 = $(slider).parent().parent().find(".team2").attr("alt");
  if (pred > 50) {
    pred_title = pred + "% " + t1;
  } else if (pred < 50) {
    pred_title = (100 - pred) + "% " + t2;
  } else {
    pred_title = "50/50";
  }

  $(slider).attr('title', pred_title);
  $(slider).attr('data-original-title', pred_title);
  $(slider).tooltip('show');
  sliderChange.hide_timeout = setTimeout(function() {
    $(slider).tooltip('hide');
  }, 1000);
}

function submitPredictionSlider(slider) {
  var checkbox = $(slider).parent().parent().find(".submit_box");
  $.post("{% url 'submit_prediction' %}", $(slider.form).serialize(), function(data, status) {
    checkbox.prop("checked", true);
    checkbox.prop("indeterminate", false);
    checkbox.tooltip('show');
    setTimeout(function() {
      checkbox.tooltip('hide');
    }, 1000);
    setUnsavedAlert(unsavedMatchesExist());
  });
}

function submitPrediction(checkbox) {
  $.post("{% url 'submit_prediction' %}", $(checkbox.form).serialize(), function(data, status) {
    $(checkbox).prop("checked", true);
    $(checkbox).prop("indeterminate", false);
    $(checkbox).tooltip('show');
    setTimeout(function() {
      $(checkbox).tooltip('hide');
    }, 1000);
    setUnsavedAlert(unsavedMatchesExist());
  });
}

// On event functions //-----------------------------------------------------------------
$(document).on('click', '.region_filter', function (e) {
  e.stopPropagation();
  $(e.target).toggleClass("down");
  var region = $(this).prop("id").split("_")[0];

  if ($(e.target).hasClass("down")) {
    selected_regions.add(region);
  } else {
    selected_regions.delete(region);
  }

  localStorage.setItem('regions', Array.from(selected_regions));
  updateMatchTables();
});

$(document).on('click', '.menu_button', function(e) {
  $('#mobile_menu_items').toggleClass("collapse");
});

  </script>
  {% block script %} {% endblock %}
</head>
<body>
  <main>
    <header>
      <div class="header_top site_wrapper">
        <h1 id='header_title'><a href="{% url 'index' %}">League of Elo</a></h1>
        {% if user.is_authenticated %}
          <h3 id="username_login"><a href="{% url 'user_page' user.username %}">{{ user.username }}</a></h3>
        {% else %}
          <h3 id="username_login"><a href="{% url 'login' %}">Log In</a></h3>
        {% endif %}
      </div>
      <div class="header_bottom site_wrapper">
        <div class="navlink mobile_menu">
          <button class="menu_button">
            <svg width="28" height="28" shape-rendering="crispEdges">
              <line x1="3" x2="25" y1="5" y2="5" stroke-width="3" stroke-linecap="square"/>
              <line x1="3" x2="25" y1="14" y2="14" stroke-width="3" stroke-linecap="square"/>
              <line x1="3" x2="25" y1="23" y2="23" stroke-width="3" stroke-linecap="square"/>
            </svg>
          </button>
        </div>
        <div class="navlink">
          <button class="region_filter" id="NA_select">NA</button>
          <button class="region_filter" id="EU_select">EU</button>
          <button class="region_filter" id="KR_select">KR</button>
          <button class="region_filter" id="CN_select">CN</button>
          <button class="region_filter" id="INT_select">INT</button>
        </div>
        <h3 class="navlink desktop_menu"><a href="{% url 'leaderboard' %}">Leaderboard</a></h3>
        <h3 class="navlink desktop_menu"><a href="{% url 'about' %}">About</a></h3>
        {% if user.is_authenticated %}
          <h4 id="logout_button"><a href="{% url 'logout' %}">Log out</a></h4>
        {% else %}
          <h4 id="signup_button"><a href="{% url 'signup' %}">Sign Up</a></h4>
        {% endif %}
      </div>
      <div class="collapse" id="mobile_menu_items">
        <ul>
          <li><h3><a href="{% url 'leaderboard' %}">➤ Leaderboard</a></h3></li>
          <li><h3><a href="{% url 'about' %}">➤ About</a></h3></li>
        </ul>
      </div>
    </header>
    <div class="body_wrapper">
      <div class="site_wrapper">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </main>
    <footer>
      <div class="footer site_wrapper">
        <span>© 2021 <a href="https://github.com/jprmesh">jprMesh</a></span>
        <span class="feedback"><a href="https://www.reddit.com/message/compose?to=meshbeard&subject=League%20of%20Elo%20Suggestion:&message=">Submit Feedback!</a></span>
        <button id="theme_switch" onclick="changeTheme();">💡</button>
      </div>
    </footer>
</body>
</html>
