<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <style> @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); </style>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'loe.css' %}">
  <title>{% block title %}League of Elo{% endblock %}</title>
</head>
<body>
  <main>
    <header class="header site_wrapper">
      <h1 id='header_title'>League of Elo</h1>
      {% if user.is_authenticated %}
        <h4 id="username_login">{{ user.username }}</h4>
      {% else %}
        <h4><a id="username_login" href="{% url 'login' %}">Log In</a></h4>
      {% endif %}
    </header>
    <div class="body site_wrapper">
    {% block content %}
    {% endblock %}
    </div>
  </main>
</body>
</html>