body {
    background: #CCCCCC;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin:0;
}

a {
    color: #222222;
    text-decoration: none;
}

header {
    padding: 0.625rem;
}

.site_wrapper {
    max-width: 1024px;
    margin: auto;
}

.header_top {
    display: flex;
    border-bottom: 2px solid #3c3c3c;
    width: 100%;
}

.header_bottom {
    display: flex;
    width: 100%;
    margin: 0.625rem auto;
}

.navlink {
    padding: 0 1rem;
}

.section_header {
    margin-bottom: 0.625rem;
}

#header_title {
    flex: auto;
    margin: 0;
}

#username_login {
    flex: initial;
    margin: auto;
}

#logout_button {
    flex: auto;
}
#logout_button > a {
    float: right;
}