body {
    background: #EEEEEE;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin:0;
}

a {
    color: #222222;
    text-decoration: none;
}

header {
    padding: 0.625rem;
}

th, td {
    padding: 0 0.5rem;
}

.site_wrapper {
    max-width: 1024px;
    margin: auto;
}

.header_top {
    display: flex;
    border-bottom: 2px solid #3c3c3c;
    width: 100%;
}

.header_bottom {
    display: flex;
    width: 100%;
    margin: 0.625rem auto;
}

.navlink {
    padding: 0 1.5rem 0 0.1rem;
}

.section_header {
    margin-bottom: 0.625rem;
    text-align: center;
}

.match_table td {
    padding: 0;
}

.match_table .match_info_td {
    padding: 0 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}

#header_title {
    flex: auto;
    margin: 0;
}

#username_login {
    flex: initial;
    margin: auto;
}

#logout_button, #signup_button {
    flex: auto;
}
#logout_button > a, #signup_button > a {
    float: right;
}

#upcoming_match_table {
    position: relative;
    float: left;
}

#elo_ranking_table {
    position: relative;
    float: right;
}