/* Color defs */

:root {
    --gold: #D1B254;
    --dark-gold: #BFA34D;
    --light-purple: #995CB8;
    --dark-purple: #7D4C96;

    --bg-color: #EEEEEE;
    --primary-color: var(--dark-purple);
    --primary-hover: var(--light-purple);
    --secondary-color: var(--gold);
    --text-color: #000000;

    --kr-text: #221D32;
    --table-bg: #FFFFFF;
    --slider-bg: #BFBFBF;
}

[data-theme="dark"] {
    --bg-color: #33333F;
    --primary-color: var(--gold);
    --primary-hover: var(--dark-gold);
    --secondary-color: var(--light-purple);
    --text-color: #ADBAC7;

    --kr-text: #EFEFEF;
    --table-bg: #55555F;
    --slider-bg: var(--text-color);
}

/* Style start */

html {
    height: 100%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    height: 100%;
    min-width: 300px;
    font-family: sans-serif;
    font-size: 0.9rem;
    line-height: normal;
}

main {
    min-height: 100%;
    margin-bottom: -75px;
    padding-bottom: 75px;
}

input[type="search"] {
    background: transparent;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--text-color);
}

button {
    cursor: pointer;
    background: transparent;
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}

button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin: 0;
    color: var(--primary-color);
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

h2 {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

p {
    font-size: 0.95rem;
    line-height: 1.2rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    color: var(--primary-hover);
    text-decoration: none;
}

.site_wrapper {
    max-width: 1024px;
    margin: auto;
}

.body_wrapper {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/* header and footer */

header, footer {
    padding: 0.625rem;
}

.header_top {
    display: flex;
    border-bottom: 2px solid var(--secondary-color);
    width: 100%;
}

.header_bottom {
    display: flex;
    width: 100%;
    margin: 0.625rem auto;
}

.navlink {
    padding: 0 1.5rem 0 0.1rem;
}

#header_title {
    flex: auto;
    margin: 0;
}

#username_login {
    flex: initial;
    margin-top: auto;
}

#logout_button, #signup_button {
    flex: auto;
}
#logout_button > a, #signup_button > a {
    float: right;
}

.footer {
    margin-bottom: 30px;
    padding-top: 0.5rem;
    border-top: 2px solid var(--secondary-color);
    width: 100%;
    font-size: 0.8rem;
    display: flex;
}

.footer span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer a, p a {
    color: #008fd5;
}

.feedback {
    flex: auto;
}
.footer > .feedback > a {
    float: right;
    margin-right: -28px;
}
.footer > #theme_switch {
    margin: -50px 10px 50px -10px;
}


/* end header and footer */

/* grid stuff */

.content_grid {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
}

.grid_item {
    margin-bottom: 1rem;
}

.site_intro {
    grid-column: span 2;
}

.match_lists {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.team_ratings {
    grid-row: span 2;
}

.leaderboard_grid_item {
    grid-column: span 3;
}

.about_grid {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
}

.about_content {
    grid-column: span 1.5;
    padding: 0 1rem;
}

@media (max-width: 927px) {
    .content_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
}
@media (max-width: 860px) {
    .dataTables_wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 580px) {
    .content_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .site_intro {
        grid-column: span 1;
    }
    .team_ratings {
        grid-row: span 1;
    }
    .about_content {
        grid-template-columns: 1fr;
    }
}

/* end grid stuff */

/* content styling */

table {
    margin: auto;
}

th {
    color: var(--primary-color);
}

th, td {
    padding: 0 0.5rem;
}

td img {
    vertical-align: text-top;
}

td.team_logo_td {
    text-align: center;
}

input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}

.section_header {
    margin-bottom: 0.625rem;
    text-align: center;
}

.match_table td {
    padding-left: 0;
    padding-right: 0;
}

.match_table .table_separator_row>td {
    padding-top: 0.2rem;
    font-size: 0.9rem;
}

.table_sep_header > th {
    padding-top: 0.2rem;
}

.match_table .match_info_td {
    padding: 0 0.5rem 0.25rem;
    font-size: 0.8rem;
    text-align: center;
}

.losing_team {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* stats page */
.stats_table td, .stats_table th {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.stats_table thead th {
    border-bottom: 1px solid var(--secondary-color);
}

.stats_table tbody th:nth-child(1) {
    text-align: right;
    border-right: 1px solid var(--secondary-color);
}

.stats_table td {
    text-align: right;
    border-top: 0.5px solid #CCC;
    border-left: 0.5px solid #CCC;
}

.stats_user_section {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}
/*////////////*/

.team_ratings_table {
    border-collapse: separate;
    border-spacing: 0 0.15rem;
}
.team_ratings_table td:nth-child(2) {
    border-radius: 0.3rem;
    color: #EFEFEF;
}
.team_ratings_table td:nth-child(n+2) {
    text-align: center;
    font-weight: 600;
}
.team_ratings_table .KR {
    color: var(--kr-text);
}
.team_ratings_table .NA {
    color: #6455F7;
}
.team_ratings_table .CN {
    color: #EE0909;
}
.team_ratings_table .EU {
    color: #00DEB9;
}

/*///////// unpredicted matches alert style */
.unpredicted::before {
    display: inline-block;
    margin-right: 4px;
    padding-top: 2px;
    content: "!";
    background: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 8px;
    text-align: center;
    color: white;
    font-size: 0.7rem;
    font-weight: 900;
}

.table_separator_row > td {
    pointer-events: none;
}
.table_separator_row > td.unpredicted {
    pointer-events: all;
}

/* end content styling */

/* leaderboard style */
.dataTables_wrapper {
    margin: 0 auto;
    max-width: 850px;
}

.super_th {
    text-align: center;
    border-left: 1px solid var(--secondary-color);
}
.leaderboard_table th:nth-child(3),
.leaderboard_table th:nth-child(6),
.leaderboard_table td:nth-child(3),
.leaderboard_table td:nth-child(6) {
    border-left: 1px solid var(--secondary-color);
}

.leaderboard_table > thead > tr > th, .leaderboard_table.dataTable.no-footer {
    border-bottom: 1px solid var(--secondary-color);
}

.leaderboard_table td {
    background: var(--table-bg);
}

select {
    cursor: pointer;
    background: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}

select option {
    background: var(--bg-color);
    color: var(--text-color);
}

/* end leaderboard style */

/* slider style */
.prediction_slider {
    -webkit-appearance: none;
}
/* end slider style*/
