body {
    background: #EEEEEE;
    font-family: sans-serif;
    margin: 0;
    line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin:0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

header {
    padding: 0.625rem;
}

table {
    margin: auto;
}

th, td {
    padding: 0 0.5rem;
}

td img {
    vertical-align: text-top;
}

input[type="checkbox" i] {
    margin: 3px 3px 3px 4px;
}

.site_wrapper {
    max-width: 1024px;
    margin: auto;
}

.header_top {
    display: flex;
    border-bottom: 2px solid #3c3c3c;
    width: 100%;
}

.header_bottom {
    display: flex;
    width: 100%;
    margin: 0.625rem auto;
}

.navlink {
    padding: 0 1.5rem 0 0.1rem;
}

.footer {
    margin-bottom: 40px;
    padding-top: 0.5rem;
    border-top: 2px solid #3c3c3c;
    width: 100%;
    font-size: 0.8rem;
}

.footer span {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footer a {
    color: #008fd5;
}

.row {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 40px;
}

.section_header {
    margin-bottom: 0.625rem;
    text-align: center;
}

.match_table td {
    padding-left: 0;
    padding-right: 0;
}

.match_table .table_separator_row>td {
    padding-top: 0.2rem;
    font-size: 0.9rem;
}

.table_sep_header > th {
    padding-top: 0.2rem;
}

.match_table .match_info_td {
    padding: 0 0.5rem 0.25rem;
    font-size: 0.8rem;
    text-align: center;
}

.losing_team {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.stats_table td, .stats_table th {
    padding-bottom: 0.3rem;
}

.stat_name {
    text-align: right;
}

.stat_box {
    text-align: right;
}

#header_title {
    flex: auto;
    margin: 0;
}

#username_login {
    flex: initial;
    margin-top: auto;
}

#logout_button, #signup_button {
    flex: auto;
}
#logout_button > a, #signup_button > a {
    float: right;
}
