body {
    background: #CCCCCC;
    font-family: sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #222222;
    text-decoration: none;
}

header {
    display: flex;
    border-bottom: 2px solid #3c3c3c;
}

.site_wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.625rem;
}

#header_title {
    flex: auto;
    margin: 0;
}

#username_login {
    flex: initial;
    margin: auto;
}
