<table class="team_ratings_table">
  <thead>
    <tr>
      <th onclick='sort_ratings(0)'><a href="javascript:void(0)"> Rating▾ </a></th>
      <th> Team </th>
      <th onclick='sort_ratings(2)'><a href="javascript:void(0)"> Region▾ </a></th>
    </tr>
  </thead>
  <tbody>
    {% for team in active_teams %}
      <tr class="disp_{{ team.team__region }}">
          <td>{{ team.rating|floatformat:"0" }}</td>
          <td style="background-color:{% if team.team__color1 %}{{ team.team__color1 }}{% else %}#333{% endif %}" title="{{ team.team__team_name }}">{{ team.team__short_name }}</td>
          <td class="{{ team.team__region }}">{{ team.team__region }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
