{% load template_extras %}


<p>
  <h3 class="stats_user_section">{{ page_user }} stats</h3>
  <table class="stats_table">
    <thead>
      <tr>
        <th></th>
        <th>Raw AR</th>
        <th>Up Down</th>
        <th>Matches<br>Predicted</th>
      </tr>
    </thead>
    <tbody>
      {% for region in regions %}
      <tr>
        <th>{{ region }}</th>
        <td>{{ page_user_stats.raw_ar|keyvalue:region }}</td>
        <td>{{ page_user_stats.updown|keyvalue:region }}</td>
        <td>{{ page_user_stats.num_pred|keyvalue:region }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</p>

{% if active_user.is_authenticated and active_user.get_username != page_user %}
<p>
  <h3 class="stats_user_section">Your stats</h3>
  <table class="stats_table">
    <thead>
      <tr>
        <th></th>
        <th>Raw AR</th>
        <th>Up Down</th>
        <th>Matches<br>Predicted</th>
      </tr>
    </thead>
    <tbody>
      {% for region in regions %}
      <tr>
        <th>{{ region }}</th>
        <td>{{ active_user_stats.raw_ar|keyvalue:region }}</td>
        <td>{{ active_user_stats.updown|keyvalue:region }}</td>
        <td>{{ active_user_stats.num_pred|keyvalue:region }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</p>
{% endif %}

<p>
  <h3 class="stats_user_section">League of Elo stats</h3>
  <table class="stats_table">
    <thead>
      <tr>
        <th></th>
        <th>Raw AR</th>
        <th>Up Down</th>
        <th>Matches<br>Predicted</th>
      </tr>
    </thead>
    <tbody>
      {% for region in regions %}
      <tr>
        <th>{{ region }}</th>
        <td>{{ loe_stats.raw_ar|keyvalue:region }}</td>
        <td>{{ loe_stats.updown|keyvalue:region }}</td>
        <td>{{ loe_stats.num_pred|keyvalue:region }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</p>