<table class="stats_table">
  <tr><th></th>
    <th>{{ page_user }}</th>
  {% if active_user.is_authenticated and active_user.get_username != page_user %}
    <th>You</th>
  {% endif %}
    <th>LeagueOfElo</th>
  </tr>

  <tr><th class="stat_name">Adjusted AR</th>
    <td class="stat_box">{{ page_user_stats.adjusted_ar }}</td>
  {% if active_user.is_authenticated and active_user.get_username != page_user %}
    <td class="stat_box">{{ active_user_stats.adjusted_ar }}</td>
  {% endif %}
    <td class="stat_box">{{ loe_stats.adjusted_ar }}</td>
  </tr>

  <tr><th class="stat_name">Raw AR</th>
    <td class="stat_box">{{ page_user_stats.raw_ar }}</td>
  {% if active_user.is_authenticated and active_user.get_username != page_user %}
    <td class="stat_box">{{ active_user_stats.raw_ar }}</td>
  {% endif %}
    <td class="stat_box">{{ loe_stats.raw_ar }}</td>
  </tr>

  <tr><th class="stat_name">Matches Predicted</th>
    <td class="stat_box">{{ page_user_stats.num_predictions }}</td>
  {% if active_user.is_authenticated and active_user.get_username != page_user %}
    <td class="stat_box">{{ active_user_stats.num_predictions }}</td>
  {% endif %}
    <td class="stat_box">{{ loe_stats.num_predictions }}</td>
  </tr>
</table>
