{% extends 'base.html' %}

{% block title %}League of Elo History{% endblock %}

{% block content %}
<div class="d3_plot" id="history_chart"></div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  setup_d3();
});

function setup_d3() {
  // set the dimensions and margins of the graph
  var root_width = Math.min(1024, $(window).width() - 10);
  var margin = {top: 10, right: 80, bottom: 30, left: 50};
  var width = root_width - margin.left - margin.right;
  var height = 400 - margin.top - margin.bottom;
  if ($(window).width() < 650) {
    height = 250 - margin.top - margin.bottom;
  }
  var d3_x;
  var d3_y;
  var x_axis;
  var x_max;

  // append the svg object to the body of the page
  var d3_svg = d3.select("#history_chart")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // Clip rect to only show data in the plot
  d3_svg.append("defs").append("svg:clipPath")
    .attr("id", "clip")
    .append("svg:rect")
    .attr("width", width )
    .attr("height", height )
    .attr("x", 0)
    .attr("y", 0);
  var plot_area = d3_svg.append('g')
    .attr('id', 'plot_area')
    .attr("clip-path", "url(#clip)");

  // Add brushing
  var brush = d3.brushX()
    .extent( [ [0,0], [width,height] ] )
    .on("end", updateChart);

  // legend div
  var legend = d3.select("#history_chart")
    .append("div")
    .attr("class", "history_legend")
    .style("top", "5px")
    .style("left", (root_width - margin.right) + "px");

  // Add Y axis
  d3_y = d3.scaleLinear()
    .domain([1200, 2000]) // Reasonable elo rating range
    .range([height, 0]);
  d3_svg.append("g")
    .call(d3.axisLeft(d3_y));

  // Initial X axis
  d3_x = d3.scaleLinear()
    .domain([0, 1])
    .range([0, width]);
  x_axis = d3_svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(d3_x).tickValues([]));

  // Get data and set axes
  var ratings_url = window.location.href.replace(/\/+$/, "") + '/all_teams';
  d3.json(ratings_url, function(data) {
    x_max = data.max_index;

    // Scale X axis
    d3_x = d3.scaleLinear()
      .domain([0, x_max])
      .range([0, width]);
    x_axis.call(d3.axisBottom(d3_x).tickValues([]));

    // Show season boundaries
    plot_area.selectAll('.season_gap_rect')
      .data(data.season_start_indices)
    .enter().append('rect')
      .attr('class', 'season_gap_rect')
      .attr('x', d => d3_x(d - 1) )
      .attr('y', 0)
      .attr('width', d3_x(1) - d3_x(0) )
      .attr('height', height);

    // Add line for each team
    data.teams.forEach(function (t) {
      //console.log(t);
      plot_area.selectAll(".line")
        .data(t.team_rating_history)
      .enter().append("path")
        .attr('class', t.team_name + '_line')
        .attr('team_name', t.team_name)
        .attr("fill", "none")
        .attr("stroke", t.color)
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return d3_x(d.rating_index) })
          .y(function(d) { return d3_y(d.rating) })
        )
        .on("mouseover", function(d) {
          let team_class = this.getAttribute('team_name') + '_line';
          let lines = $('[class~="'+team_class+'"]');
          lines
            .attr('stroke-width', 4)
            .attr('class', team_class + ' dropshadow')
            .appendTo(lines.parent());
          return legend.style("visibility", "visible");
        })
        .on("mousemove", function(d) {
          let goal = d3_x.invert(d3.mouse($('#plot_area')[0])[0]);
          closest_rating = d.reduce(function(prev, curr) {
            return (Math.abs(curr.rating_index - goal) < Math.abs(prev.rating_index - goal) ? curr : prev);
          });
          let hover_text = this.getAttribute('team_name') + '\u00A0\u00A0\n' + Math.round(closest_rating.rating);
          legend.text(hover_text);
        })
        .on("mouseout", function() {
          let team_class = this.getAttribute('team_name') + '_line';
          $('[class~="'+team_class+'"]')
            .attr('stroke-width', 1.5)
            .attr('class', team_class);
          return legend.style("visibility", "hidden");
        });
    });

    // Highlight lines
  });

  // Set up chart zooming
  plot_area.append("g")
      .attr("class", "brush")
      .call(brush);

  var idleTimeout;
  function idled() { idleTimeout = null; }

  function updateChart() {
    extent = d3.event.selection
    // If no selection, back to initial coordinate. Otherwise, update X axis domain
    if (!extent) {
      if (!idleTimeout) return idleTimeout = setTimeout(idled, 350); // Wait a little bit
      d3_x.domain([0, x_max]);
    } else {
      d3_x.domain([ d3_x.invert(extent[0]), d3_x.invert(extent[1]) ])
      plot_area.select(".brush").call(brush.move, null) // Remove the grey brush area as soon as the selection has been done
    }

    // Update axis and line position
    x_axis.transition().duration(1000).call(d3.axisBottom(d3_x).tickValues([]));
    plot_area.selectAll("path")
      .transition().duration(1000)
      .attr("d", d3.line()
        .x(function(d) { return d3_x(d.rating_index) })
        .y(function(d) { return d3_y(d.rating) })
      );
    plot_area.selectAll(".season_gap_rect")
      .transition().duration(1000)
      .attr('x', d => d3_x(d - 1) )
      .attr('width', d3_x(1) - d3_x(0) );
  }
}

</script>
{% endblock %}
