{% extends 'base.html' %}

{% load template_extras %}

{% block title %}League of Elo History{% endblock %}

{% block content %}
{% history_chart 'all' %}
<p>This chart shows the full Elo rating history of all teams in the main 4 regions since 2015 when the leagues standardized on a spring and summer regular season each year. Show and hide regions with the buttons in the header, and click and drag to narrow down the timespan. Hovering over a line will highlight the full history and show some info about the team.</p>
{% endblock %}

{% block script %}
<script type="text/javascript">
function updateMatchTables() {
}
</script>
{% endblock %}
