{% extends 'base.html' %}

{% block title %}League of Elo History{% endblock %}

{% block content %}
<div class="d3_plot" id="history_chart"></div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  setup_d3();
});

function setup_d3() {
  // set the dimensions and margins of the graph
  var margin = {top: 10, right: 50, bottom: 30, left: 50};
  var width = 800 - margin.left - margin.right;
  var height = 400 - margin.top - margin.bottom;
  if (small_plot) {
    width = 360 - margin.left - margin.right;
    height = 250 - margin.top - margin.bottom;
  }
  var d3_x;
  var d3_y;
  var x_axis;
  var x_max;

  // append the svg object to the body of the page
  var d3_svg = d3.select("#history_chart")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

  // Clip rect to only show data in the plot
  d3_svg.append("defs").append("svg:clipPath")
    .attr("id", "clip")
    .append("svg:rect")
    .attr("width", width )
    .attr("height", height )
    .attr("x", 0)
    .attr("y", 0);
  var plot_area = d3_svg.append('g')
    .attr("clip-path", "url(#clip)");

  // Add brushing
  var brush = d3.brushX()
    .extent( [ [0,0], [width,height] ] )
    .on("end", updateChart);
  plot_area.append("g")
      .attr("class", "brush")
      .call(brush);

  // Get data and set axes
  var gaps_url = window.location.href.replace(/\/+$/, "") + '/all_teams';
  d3.json(gaps_url, function(data) {
    x_max = data.max_index;

    // Add X axis
    d3_x = d3.scaleLinear()
      .domain([0, x_max])
      .range([ 0, width ]);
    x_axis = d3_svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(d3_x));

    // Add Y axis
    d3_y = d3.scaleLinear()
      .domain([1200, 2000])
      .range([ height, 0]);
    d3_svg.append("g")
      .call(d3.axisLeft(d3_y));

    // Show time gaps
    /*
    plot_area.selectAll('.time-span-rect')
      .data(gap_dates)
    .enter().append('rect')
      .attr('class', 'time-span-rect')
      .attr('x', function(d) { return d3_x(d[0]) - 1; })
      .attr('y', 0)
      .attr('width', function(d) { return d3_x(d[1]) - d3_x(d[0]) + 2; })
      .attr('height', height);
    */

    data.teams.forEach(function (t) {
      // Add line for each team
      plot_area.append("path")
        .datum(t.team_rating_history)
        .attr("fill", "none")
        .attr("stroke", t.color)
        .attr("stroke-width", 1.5)
        .attr("d", d3.line()
          .x(function(d) { return d3_x(d.rating_index) })
          .y(function(d) { return d3_y(d.rating) })
          );
    });
  });

  // Set up chart zooming
  var idleTimeout;
  function idled() { idleTimeout = null; }

  function updateChart() {
    extent = d3.event.selection
    // If no selection, back to initial coordinate. Otherwise, update X axis domain
    if (!extent) {
      if (!idleTimeout) return idleTimeout = setTimeout(idled, 350); // Wait a little bit
      d3_x.domain([0, x_max]);
    } else {
      d3_x.domain([ d3_x.invert(extent[0]), d3_x.invert(extent[1]) ])
      plot_area.select(".brush").call(brush.move, null) // Remove the grey brush area as soon as the selection has been done
    }

    // Update axis and line position
    x_axis.transition().duration(1000).call(d3.axisBottom(d3_x))
    plot_area.selectAll("path")
      .transition().duration(1000)
      .attr("d", d3.line()
        .x(function(d) { return d3_x(d.rating_index) })
        .y(function(d) { return d3_y(d.rating) })
        )
  }
}

</script>
{% endblock %}
