{% extends 'base.html' %}

{% load rest_framework %}
{% load template_extras %}
{% load humanize %}

{% block title %}LOE Upcoming Matches{% endblock %}

{% block content %}
<div class="row">
<div class="section_div col">
  <h2 class="section_header">Upcoming Matches</h2>
  <table class="match_table">
  {% for match in matches %}
    {% ifchanged match.start_timestamp|naturalday %}
      <tr class="table_separator_row"><td colspan="4">{{ match.start_timestamp|naturalday:"l M j"|title }}</td></tr>
    {% endifchanged %}
    {% prediction_tr user match.pk user.get_username %}
  {% endfor %}
  </table>
</div>

<div class="section_div col">
  <h2 class="section_header">Recent Matches</h2>
  <table class="match_table">
  {% for match in recent_matches %}
    {% ifchanged match.start_timestamp|naturalday %}
      <tr class="table_separator_row"><td colspan="4">{{ match.start_timestamp|naturalday:"l M j"|title }}</td>
      {% if forloop.first %}
        <td class="match_info_td"><strong>AR</strong></td>
      {% endif %}
      </tr>
    {% endifchanged %}
    {% prediction_tr user match.pk user.get_username %}
  {% endfor %}
  </table>
</div>

<div class="section_div col">
  <h2 class="section_header">Team Ratings</h2>
  <table>
    <tr>
      <th> Rating </th>
      <th> Team </th>
      <th> Region </th>
    </tr>
  {% for team in teams %}
      <tr>
          <td>{{ team.rating }}</td>
          <td>{{ team.team__short_name }}</td>
          <td>{{ team.team__region }}</td>
      </tr>
  {% endfor %}
  </table>
</div>
</div>
{% endblock %}
