{% extends 'base.html' %}

{% load rest_framework %}
{% load template_extras %}

{% block title %}LOE Upcoming Matches{% endblock %}

{% block content %}
<div id="content">
<div id="upcoming_match_table">
  <h3 class="section_header">Upcoming Matches</h3>
  <table class="match_table">
  {% for match in matches %}
    {% prediction_tr user match.pk user.get_username %}
  {% endfor %}
  </table>
</div>

<div id="elo_ranking_table">
  <h3 class="section_header">Team Ratings</h3>
  <table>
    <tr>
      <th> Rating </th>
      <th> Team </th>
      <th> Region </th>
    </tr>
  {% for team in teams %}
      <tr>
          <td>{{ team.rating }}</td>
          <td>{{ team.team__short_name }}</td>
          <td>{{ team.team__region }}</td>
      </tr>
  {% endfor %}
  </table>
</div>
</div>
{% endblock %}
