{% extends 'base.html' %}

{% block title %}LOE Leaderboard{% endblock %}

{% block content %}
<h2 class="section_header">Leaderboard</h2>
<table>
  <tr>
    <th> Username </th>
    <th> Lifetime Analyst Rating </th>
    <th> Brier Score </th>
  </tr>
{% for user in leaderboard %}
    <tr>
      <td><a href="{% url 'user_page' user.user__username %}">{{ user.user__username }}</a></td>
      <td>{{ user.analyst_rating }}</td>
      <td>{{ user.brier }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
