{% extends 'base.html' %}

{% block title %}League of Elo Leaderboard{% endblock %}

{% block content %}
<div class="content_grid">
  <div class="leaderboard_grid_item grid_item">
    <h2 class="section_header">Leaderboard</h2>
    <table class="leaderboard_table hover row-border compact">
      <thead>
        <tr>
          <th colspan="2">  </th>
          <th colspan="3" class="super_th">
            <select id="season_selector" onchange="get_seasonal_stats(this);">
            {% for season in seasons %}
              <option value="{{ season }}">{{ season }}</option>
            {% endfor %}
            </select>
          </th>
          <th colspan="3" class="super_th"> All-Time </th>
        </tr>
        <tr>
          <th>  </th>
          <th> Username </th>

          <th> Score </th>
          <th> Up/Down </th>
          <th> Raw AR </th>

          <th> Adjusted AR </th>
          <th> Up/Down </th>
          <th> Matches Predicted </th>
        </tr>
      </thead>
      <tbody>
        {% for entry in leaderboard %}
          <tr class="leaderboard_row">
            <td>0</td>
            <td><a href="{% url 'user_page' entry.user__username %}">{{ entry.user__username }}</a></td>

            <td class="seasonal_cell" id="user_{{ entry.user_id }}_score_cell">0</td>
            <td class="seasonal_cell" id="user_{{ entry.user_id }}_updown_cell">0</td>
            <td class="seasonal_cell" id="user_{{ entry.user_id }}_raw_ar_cell">0</td>

            <td>{{ entry.adjusted_ar }}</td>
            <td>{{ entry.up_down }}</td>
            <td>{{ entry.num_preds }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script type="text/javascript">

function init_datatable() {
  var dt = $('.leaderboard_table').DataTable({
    "destroy": true,
    "order": [[ 2, "desc" ]],
    "paging": false,
    "info": false,
    "columnDefs": [ {
      targets: [0, 1],
      orderable: false,
      className: "dt-body-left"
    },
    {
      targets: ["_all"],
      orderSequence: ["desc", "asc"],
      className: "dt-body-right"
    } ],
  });

  dt.on('order.dt', function() {
    dt.column(0, {order:'applied'}).nodes().each( function(cell, i) {
      cell.innerHTML = i+1;
    });
  }).draw();
}

$(document).ready(function(){
  get_seasonal_stats($("#season_selector")[0])
});

function get_seasonal_stats(select_box) {
  $.get("stats", {season: select_box.value})
    .done(function( data ) {
      // Reset all to 0 for any users without seasonal data
      $(".seasonal_cell").each(function() {
        $(this).html('0');
      });

      for (var i = data.length - 1; i >= 0; i--) {
        $('#user_'+data[i]['user__pk']+'_score_cell').html(data[i]['score']);
        $('#user_'+data[i]['user__pk']+'_raw_ar_cell').html(data[i]['raw_ar']);
        $('#user_'+data[i]['user__pk']+'_updown_cell').html(data[i]['up_down']);
      }

      // Refresh datatable
      init_datatable();
    });
}

</script>

{% endblock %}