{% extends 'base.html' %}

{% block title %}LOE User Profile{% endblock %}

{% block content %}
<h3>Past Match Predictions</h3>
<table>
  <tr>
    <th> Region </th>
    <th> Match </th>
    <th colspan="3"> Prediction </th>
    <th> Brier Score </th>
  </tr>
{% for pred in prior_preds %}
    <tr>
      <td>{{ pred.match__region }}</td>
      <td>{{ pred.match__match_info }}</td>
      <td>{{ pred.match__team2__short_name }}</td>
      <td><input type="range" min="0" max="100" value="{% widthratio pred.predicted_t1_win_prob 1 100 %}" class="slider" disabled="true"></td>
      <td>{{ pred.match__team1__short_name }}</td>
      <td>{{ pred.brier|floatformat:4 }}</td>
    </tr>
{% endfor %}
</table>

<h3>Future Match Predictions</h3>
<table>
  <tr>
    <th> Region </th>
    <th> Match </th>
    <th colspan="3"> Prediction </th>
  </tr>
{% for pred in future_preds %}
    <tr>
      <td>{{ pred.match__region }}</td>
      <td>{{ pred.match__match_info }}</td>
      <td>{{ pred.match__team2__short_name }}</td>
      <td><input type="range" min="0" max="100" value="{% widthratio pred.predicted_t1_win_prob 1 100 %}" class="slider"></td>
      <td>{{ pred.match__team1__short_name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}