{% extends 'base.html' %}

{% load template_extras %}

{% block title %}League of Elo: {{ prediction_user }} Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="section_div col">
    <h2 class="section_header">Stats</h2>
    {% user_stats user prediction_user %}
    <h2 class="section_header">Accuracy Plot</h2>
    <div class="accuracy_plot" id="accuracy_plot"></div>
  </div>

  <div class="section_div col">
    <h2 class="section_header">Recent Predictions</h2>
    <table class="match_table" id="recent_match_table">
    </table>
    <h2 class="section_header">Upcoming Predictions</h2>
    <table class="match_table" id="upcoming_match_table">
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://d3js.org/d3.v4.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  updateMatchTables();
  setup_d3();
  populate_d3();
});

var d3_svg, d3_x, d3_y;

function setup_d3() {
  // set the dimensions and margins of the graph
  margin = {top: 10, right: 30, bottom: 30, left: 60};
  width = 460 - margin.left - margin.right;
  height = 400 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  d3_svg = d3.select("#accuracy_plot")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  // Add X axis
  d3_x = d3.scaleLinear()
    .domain([0, 100])
    .range([ 0, width ]);
  d3_svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(d3_x));

  // Add Y axis
  d3_y = d3.scaleLinear()
    .domain([0, 100])
    .range([ height, 0]);
  d3_svg.append("g")
    .call(d3.axisLeft(d3_y));

  // Draw diagonal
  d3_svg.append('line')
    .attr('x1',d3_x(0))
    .attr('x2',d3_x(100))
    .attr('y1',d3_y(0))
    .attr('y2',d3_y(100))
    .style('stroke', 'white')
}

function populate_d3() {
  var max_dot_size = 13; //px
  var min_dot_size = 3; //px
  var accuracy_data_url = window.location.href.replace(/\/+$/, "") + '/accuracy_plot';
  d3.json(accuracy_data_url, function(data) {
    console.log(data);
    var max_bin_count = Math.max.apply(Math, data.map(function (d) { return d[2]; }));

    // Tooltip div
    var tooltip = d3.select("#accuracy_plot")
      .append("div")
      .attr("class", "accuracy_tooltip");

    // Add dots
    d3_svg.append('g')
      .selectAll("dot")
        .data(data)
      .enter()
      .append("circle")
        .attr("cx", function (d) { return d3_x(d[0]); })
        .attr("cy", function (d) { return d3_y(d[1]); })
        .attr("r",  function (d) { return Math.max(d[2]*max_dot_size/max_bin_count, min_dot_size) })
        .on("mouseover", function(d) {
          this.style.fill = "var(--secondary-hover)";
          var hover_text = "Of " + d[2] + " matches predicted at " + d[0] + "% probability, " + d[1] + "% ended up happening.";
          tooltip.text(hover_text);
          tooltip.style("top",  (parseInt(d3.select(this).attr("cy"), 10) + 40) + "px");
          tooltip.style("left", (parseInt(d3.select(this).attr("cx"), 10) - 40) + "px");
          return tooltip.style("visibility", "visible");

        })
        .on("mouseout", function() {
          this.style.fill = "var(--secondary-color)";
          return tooltip.style("visibility", "hidden");
        });
  });
}

function update_d3() {
  var accuracy_data_url = window.location.href.replace(/\/+$/, "") + '/accuracy_plot';
  $.get(accuracy_data_url).done(function (data) {
    var dots = d3.select("#accuracy_plot > g > g").selectAll("circle").data(data);
    dots.enter().append("circle");
    dots.transition()
      .duration(300)
      .attr("cx", function(d) { return d3_x(d[0]); })
      .attr("cy", function(d) { return d3_y(d[1]); })
      .attr("r",  function(d) { return 5; })
  }).fail(function (error) {
    console.log(error);
  });
}

</script>
{% endblock %}
